<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="smtp server address"/>
    <add key="port" value="smtp server port"/>
    <add key="userName" value="user name"/>
    <add key="userEmail" value= "user email"/>
    <add key="userPass" value="SMTP auth password"/>
  </appSettings>
</configuration>